<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer Reviews</title>

</head>
<body>
    <div class="review-wrapper">
        <h1 class="review-title">Customer Reviews</h1>

        <div class="review-content" ng-controller="reviewData">

            <div class="all-reviews-wrapper">
                <div class="r-prev" ng-click="swipeLeft()"><i class="bi bi-caret-left-square"></i></div>
                <div class="r-next" ng-click="swipeRight()"><i class="bi bi-caret-right-square"></i></div>

                <div class="all-reviews">
                    <div ng-repeat="r in reviews | limitTo: reviews.length : 0" class="normal-review">
                        <div class="upper-review-ct"><p>" {{r.description}} "</p></div>
                        <div class="lower-review-ct">
                            <img src="{{r.img}}" alt="">
                            <h3>{{r.fullname}}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>